<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,956},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{200,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,20}}</string>
                <key>sourceSize</key>
                <string>{200,20}</string>
            </dict>
            <key>Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,761},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>CurrentPage.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,956},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,260},{160,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,36}}</string>
                <key>sourceSize</key>
                <string>{160,36}</string>
            </dict>
            <key>GameCompleted.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,158},{160,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,100}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>Ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{200,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,20}}</string>
                <key>sourceSize</key>
                <string>{200,20}</string>
            </dict>
            <key>Ice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,360},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>Knift.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{140,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,40}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,314},{211,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{211,112}}</string>
                <key>sourceSize</key>
                <string>{215,116}</string>
            </dict>
            <key>Level.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,978},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>LevelLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,827},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>LevelPass.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,827},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Lipid.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,158},{1,1}}</string>
                <key>offset</key>
                <string>{-39.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>Melon.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,428},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,761},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>N0.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,683},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>N1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,737},{25,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>N2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,629},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>N3.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,956},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>N4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,956},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>N5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,927},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>N6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,927},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>N7.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,927},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>N8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,347},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>N9.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,293},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>Next.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,927},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>NextLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,563},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,462},{96,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,80}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>Orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,631},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,956},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,401},{160,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,35}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
            <key>Play.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,631},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Previous.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,927},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>Reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,761},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{324,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{324,133}}</string>
                <key>sourceSize</key>
                <string>{328,137}</string>
            </dict>
            <key>Rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{500,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,44}}</string>
                <key>sourceSize</key>
                <string>{500,44}</string>
            </dict>
            <key>Stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,112},{200,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,32}}</string>
                <key>sourceSize</key>
                <string>{200,32}</string>
            </dict>
            <key>Sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,298},{27,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>Success.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{294,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,65}}</string>
                <key>sourceSize</key>
                <string>{294,65}</string>
            </dict>
            <key>Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{536,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,108}}</string>
                <key>sourceSize</key>
                <string>{536,108}</string>
            </dict>
            <key>TurnOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,761},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>TurnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,560},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprite.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be300efd47b9f4baa95c2b62bdb8b41d$</string>
            <key>textureFileName</key>
            <string>Sprite.png</string>
        </dict>
    </dict>
</plist>
